In [76]:
import numpy as np
import pandas as pd

# data类型为字典，其中值类型为序列
data = {"a":[1,2,3], 
        "b":[2,3,4],
        "c":[5,6,7]}
cols = ['b','c','a']
df = pd.DataFrame(data, columns=cols)
print(df)

# 显示列名
df.columns

# 修改某列列名， inplace为true代表返回值为none
a = df.rename(columns = {'a':'a_new'}, inplace = True)  # a为none
b = df.rename(columns = {df.columns[1]:'f'}, inplace = False) # b为改为列名的df
# 依次修改全部的列名
df.columns = ['a1','b1','c1']
print(df)

df.dtypes
# 修改某列类型 
df[['a1','c1']] = df[['a1','c1']].astype(np.str)
df.dtypes

# 显示开头n行
df.head(2)
# 显示结尾n行
df.tail(2)
df[['a1','b1']]
# pandas提供了dt，str可对应(Datetime, Timedelta, Period)(String)来用，pd.dt.strftime() 
# pd.str.contains()正则表达式筛选 df.loc[Series.str.contains()]

# groupby('a')后会把a列作为索引，groupby('a', as_index=False)可以不把a作为索引。
# b = groupby('a').mean().reset_index() reset_index()将索引还原为列， set_index()将列设为索引
# 以上可参考https://blog.csdn.net/jingyi130705008/article/details/78162758


# b = groupby('a').agg({'a':[np.min, np.max]}) 这个返回结果当列名是元组[('a','amin'),('b','amax')] 是二维，
# 降维的方法b.columns.droplevel(0)，把a去掉，['amin','max']
# 如果想把多个维度名字关联起来可以用df.columns = ["_".join(x) for x in df.columns.ravel()] 
# 以上可参考https://stackoverflow.com/questions/19078325/naming-returned-columns-in-pandas-aggregate-function

# df.groupby('A').cumcount() 组内排序的序号

# df.assign(A=['a','b','c']) 在df后面添加列，列名为A，当原来当df中已经有列，则把原来当数据覆盖

# a1列不重复的值有多少个
#len(df['a1'].unique())

   b  c  a
0  2  5  1
1  3  6  2
2  4  7  3
   a1  b1  c1
0   2   5   1
1   3   6   2
2   4   7   3

  a1  b1
0  2   5
1  3   6
2  4   7

In [33]:
index = pd.date_range('1/1/2000', periods=8)
index

np.random.randn(8, 3)

array([[ 0.09061331, -0.19596099,  1.35701664],
       [ 0.15366323,  1.60099205,  0.41902891],
       [-2.0474981 , -1.50476801, -0.01979202],
       [ 2.20232638,  0.08116861,  0.57481598],
       [ 0.71955435,  0.36170491,  0.0376812 ],
       [ 0.08205848,  1.45131812, -1.9059626 ],
       [ 0.86810384, -0.03752803, -0.47082517],
       [-0.83054187,  0.9063499 , -0.344364  ]])

In [84]:
import numpy as np
import pandas as pd
index = pd.date_range('2010-09',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=index, columns=list('abcd'))
df

                   a         b         c         d
2010-09-01 -0.324114  0.058515 -1.565776 -1.351029
2010-09-02 -1.543315 -2.976042  0.697630  1.026345
2010-09-03  0.524318  0.400879  1.311644  0.875702
2010-09-04  0.498210  0.629206  1.449337 -0.273894
2010-09-05 -0.504373 -1.588985 -1.171013 -0.981644
2010-09-06  0.503770 -1.743661 -1.058501  1.460685